body {
background-image: linear-gradient(180deg, darkviolet, aliceblue);
    background-color: #97BAF0;

}

.container {
    margin-top: 50px;
}

panel-body {

}
.panel-primary>.panel-heading{
    background-color: #3550E8;
    font-weight: 900;
}

.btn-primary {
    background-color: #3550E8;
    font-weight: 800;
}